{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "targets": {
    "browsers": [
      "last 2 versions",
      "ie > 11",
      "safari >= 12"
    ]
  },
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
}