<html>
  <head>
    <title>Welcome to Resonate</title>
  </head>
  <body>
    <h1>Welcome to Resonate!</h1>
    <p>Use Resonate for your upcoming user interview. If you can't wait,
      <a href="https://www.resonateapp.com/import">import your first interview</a></p>
    <p>We hope you have a great experience with us!</p>
    <p>Best,<br />The Resonate Team</p>
  </body>
</html>
