<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <title>Resonate</title>
    <link
      rel="stylesheet"
      as="font"
      referrerpolicy="no-referrer"
      href="https://use.typekit.net/uuq3xbu.css"
    />
    <script async src="{{assetUrl}}/app.js"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>