<html><head><meta
      http-equiv="Content-Type"
      content="text/html; charset=utf-8"
    /><title>Terms of Use</title><style>
      /* cspell:disable-file */ /* webkit printing magic: print all background
      colors */ html { -webkit-print-color-adjust: exact; } * { box-sizing:
      border-box; -webkit-print-color-adjust: exact; } html, body { margin: 0;
      padding: 0; } @media only screen { body { margin: 2em auto; max-width:
      900px; color: rgb(55, 53, 47); } } body { line-height: 1.5; } a, a.visited
      { color: inherit; text-decoration: underline; } .pdf-relative-link-path {
      font-size: 80%; color: #444; } h1, h2, h3 { letter-spacing: -0.01em;
      line-height: 1.2; font-weight: 600; margin-bottom: 0; } .page-title {
      font-size: 2.5rem; font-weight: 700; margin-top: 0; margin-bottom: 0.75em;
      } h1 { font-size: 1.875rem; margin-top: 1.875rem; } h2 { font-size:
      1.5rem; margin-top: 1.5rem; } h3 { font-size: 1.25rem; margin-top:
      1.25rem; } .source { border: 1px solid #ddd; border-radius: 3px; padding:
      1.5em; word-break: break-all; } .callout { border-radius: 3px; padding:
      1rem; } figure { margin: 1.25em 0; page-break-inside: avoid; } figcaption
      { opacity: 0.5; font-size: 85%; margin-top: 0.5em; } mark {
      background-color: transparent; } .indented { padding-left: 1.5em; } hr {
      background: transparent; display: block; width: 100%; height: 1px;
      visibility: visible; border: none; border-bottom: 1px solid rgba(55, 53,
      47, 0.09); } img { max-width: 100%; } @media only print { img {
      max-height: 100vh; object-fit: contain; } } @page { margin: 1in; }
      .collection-content { font-size: 0.875rem; } .column-list { display: flex;
      justify-content: space-between; } .column { padding: 0 1em; }
      .column:first-child { padding-left: 0; } .column:last-child {
      padding-right: 0; } .table_of_contents-item { display: block; font-size:
      0.875rem; line-height: 1.3; padding: 0.125rem; }
      .table_of_contents-indent-1 { margin-left: 1.5rem; }
      .table_of_contents-indent-2 { margin-left: 3rem; }
      .table_of_contents-indent-3 { margin-left: 4.5rem; }
      .table_of_contents-link { text-decoration: none; opacity: 0.7;
      border-bottom: 1px solid rgba(55, 53, 47, 0.18); } table, th, td { border:
      1px solid rgba(55, 53, 47, 0.09); border-collapse: collapse; } table {
      border-left: none; border-right: none; } th, td { font-weight: normal;
      padding: 0.25em 0.5em; line-height: 1.5; min-height: 1.5em; text-align:
      left; } th { color: rgba(55, 53, 47, 0.6); } ol, ul { margin: 0;
      margin-block-start: 0.6em; margin-block-end: 0.6em; } li > ol:first-child,
      li > ul:first-child { margin-block-start: 0.6em; } ul > li { list-style:
      disc; } ul.to-do-list { text-indent: -1.7em; } ul.to-do-list > li {
      list-style: none; } .to-do-children-checked { text-decoration:
      line-through; opacity: 0.375; } ul.toggle > li { list-style: none; } ul {
      padding-inline-start: 1.7em; } ul > li { padding-left: 0.1em; } ol {
      padding-inline-start: 1.6em; } ol > li { padding-left: 0.2em; } .mono ol {
      padding-inline-start: 2em; } .mono ol > li { text-indent: -0.4em; }
      .toggle { padding-inline-start: 0em; list-style-type: none; } /* Indent
      toggle children */ .toggle > li > details { padding-left: 1.7em; } .toggle
      > li > details > summary { margin-left: -1.1em; } .selected-value {
      display: inline-block; padding: 0 0.5em; background: rgba(206, 205, 202,
      0.5); border-radius: 3px; margin-right: 0.5em; margin-top: 0.3em;
      margin-bottom: 0.3em; white-space: nowrap; } .collection-title { display:
      inline-block; margin-right: 1em; } .simple-table { margin-top: 1em;
      font-size: 0.875rem; empty-cells: show; } .simple-table td { height: 29px;
      min-width: 120px; } .simple-table th { height: 29px; min-width: 120px; }
      .simple-table-header-color { background: rgb(247, 246, 243); color: black;
      } .simple-table-header { font-weight: 500; } time { opacity: 0.5; } .icon
      { display: inline-block; max-width: 1.2em; max-height: 1.2em;
      text-decoration: none; vertical-align: text-bottom; margin-right: 0.5em; }
      img.icon { border-radius: 3px; } .user-icon { width: 1.5em; height: 1.5em;
      border-radius: 100%; margin-right: 0.5rem; } .user-icon-inner { font-size:
      0.8em; } .text-icon { border: 1px solid #000; text-align: center; }
      .page-cover-image { display: block; object-fit: cover; width: 100%;
      max-height: 30vh; } .page-header-icon { font-size: 3rem; margin-bottom:
      1rem; } .page-header-icon-with-cover { margin-top: -0.72em; margin-left:
      0.07em; } .page-header-icon img { border-radius: 3px; } .link-to-page {
      margin: 1em 0; padding: 0; border: none; font-weight: 500; } p > .user {
      opacity: 0.5; } td > .user, td > time { white-space: nowrap; }
      input[type="checkbox"] { transform: scale(1.5); margin-right: 0.6em;
      vertical-align: middle; } p { margin-top: 0.5em; margin-bottom: 0.5em; }
      .image { border: none; margin: 1.5em 0; padding: 0; border-radius: 0;
      text-align: center; } .code, code { background: rgba(135, 131, 120, 0.15);
      border-radius: 3px; padding: 0.2em 0.4em; border-radius: 3px; font-size:
      85%; tab-size: 2; } code { color: #eb5757; } .code { padding: 1.5em 1em; }
      .code-wrap { white-space: pre-wrap; word-break: break-all; } .code > code
      { background: none; padding: 0; font-size: 100%; color: inherit; }
      blockquote { font-size: 1.25em; margin: 1em 0; padding-left: 1em;
      border-left: 3px solid rgb(55, 53, 47); } .bookmark { text-decoration:
      none; max-height: 8em; padding: 0; display: flex; width: 100%;
      align-items: stretch; } .bookmark-title { font-size: 0.85em; overflow:
      hidden; text-overflow: ellipsis; height: 1.75em; white-space: nowrap; }
      .bookmark-text { display: flex; flex-direction: column; } .bookmark-info {
      flex: 4 1 180px; padding: 12px 14px 14px; display: flex; flex-direction:
      column; justify-content: space-between; } .bookmark-image { width: 33%;
      flex: 1 1 180px; display: block; position: relative; object-fit: cover;
      border-radius: 1px; } .bookmark-description { color: rgba(55, 53, 47,
      0.6); font-size: 0.75em; overflow: hidden; max-height: 4.5em; word-break:
      break-word; } .bookmark-href { font-size: 0.75em; margin-top: 0.25em; }
      .sans { font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI
      Emoji", "Segoe UI Symbol"; } .code { font-family: "SFMono-Regular", Menlo,
      Consolas, "PT Mono", "Liberation Mono", Courier, monospace; } .serif {
      font-family: Lyon-Text, Georgia, ui-serif, serif; } .mono { font-family:
      iawriter-mono, Nitti, Menlo, Courier, monospace; } .pdf .sans {
      font-family: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI
      Emoji", "Segoe UI Symbol", 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK
      JP'; } .pdf:lang(zh-CN) .sans { font-family: Inter, ui-sans-serif,
      -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color
      Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", 'Twemoji',
      'Noto Color Emoji', 'Noto Sans CJK SC'; } .pdf:lang(zh-TW) .sans {
      font-family: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI
      Emoji", "Segoe UI Symbol", 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK
      TC'; } .pdf:lang(ko-KR) .sans { font-family: Inter, ui-sans-serif,
      -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color
      Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", 'Twemoji',
      'Noto Color Emoji', 'Noto Sans CJK KR'; } .pdf .code { font-family: Source
      Code Pro, "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono",
      Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK
      JP'; } .pdf:lang(zh-CN) .code { font-family: Source Code Pro,
      "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier,
      monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK SC'; }
      .pdf:lang(zh-TW) .code { font-family: Source Code Pro, "SFMono-Regular",
      Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace,
      'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK TC'; } .pdf:lang(ko-KR)
      .code { font-family: Source Code Pro, "SFMono-Regular", Menlo, Consolas,
      "PT Mono", "Liberation Mono", Courier, monospace, 'Twemoji', 'Noto Color
      Emoji', 'Noto Sans Mono CJK KR'; } .pdf .serif { font-family: PT Serif,
      Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto
      Serif CJK JP'; } .pdf:lang(zh-CN) .serif { font-family: PT Serif,
      Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto
      Serif CJK SC'; } .pdf:lang(zh-TW) .serif { font-family: PT Serif,
      Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto
      Serif CJK TC'; } .pdf:lang(ko-KR) .serif { font-family: PT Serif,
      Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto
      Serif CJK KR'; } .pdf .mono { font-family: PT Mono, iawriter-mono, Nitti,
      Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono
      CJK JP'; } .pdf:lang(zh-CN) .mono { font-family: PT Mono, iawriter-mono,
      Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto
      Sans Mono CJK SC'; } .pdf:lang(zh-TW) .mono { font-family: PT Mono,
      iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color
      Emoji', 'Noto Sans Mono CJK TC'; } .pdf:lang(ko-KR) .mono { font-family:
      PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto
      Color Emoji', 'Noto Sans Mono CJK KR'; } .highlight-default { color:
      rgba(55, 53, 47, 1); } .highlight-gray { color: rgba(120, 119, 116, 1);
      fill: rgba(120, 119, 116, 1); } .highlight-brown { color: rgba(159, 107,
      83, 1); fill: rgba(159, 107, 83, 1); } .highlight-orange { color:
      rgba(217, 115, 13, 1); fill: rgba(217, 115, 13, 1); } .highlight-yellow {
      color: rgba(203, 145, 47, 1); fill: rgba(203, 145, 47, 1); }
      .highlight-teal { color: rgba(68, 131, 97, 1); fill: rgba(68, 131, 97, 1);
      } .highlight-blue { color: rgba(51, 126, 169, 1); fill: rgba(51, 126, 169,
      1); } .highlight-purple { color: rgba(144, 101, 176, 1); fill: rgba(144,
      101, 176, 1); } .highlight-pink { color: rgba(193, 76, 138, 1); fill:
      rgba(193, 76, 138, 1); } .highlight-red { color: rgba(212, 76, 71, 1);
      fill: rgba(212, 76, 71, 1); } .highlight-gray_background { background:
      rgba(241, 241, 239, 1); } .highlight-brown_background { background:
      rgba(244, 238, 238, 1); } .highlight-orange_background { background:
      rgba(251, 236, 221, 1); } .highlight-yellow_background { background:
      rgba(251, 243, 219, 1); } .highlight-teal_background { background:
      rgba(237, 243, 236, 1); } .highlight-blue_background { background:
      rgba(231, 243, 248, 1); } .highlight-purple_background { background:
      rgba(244, 240, 247, 0.8); } .highlight-pink_background { background:
      rgba(249, 238, 243, 0.8); } .highlight-red_background { background:
      rgba(253, 235, 236, 1); } .block-color-default { color: inherit; fill:
      inherit; } .block-color-gray { color: rgba(120, 119, 116, 1); fill:
      rgba(120, 119, 116, 1); } .block-color-brown { color: rgba(159, 107, 83,
      1); fill: rgba(159, 107, 83, 1); } .block-color-orange { color: rgba(217,
      115, 13, 1); fill: rgba(217, 115, 13, 1); } .block-color-yellow { color:
      rgba(203, 145, 47, 1); fill: rgba(203, 145, 47, 1); } .block-color-teal {
      color: rgba(68, 131, 97, 1); fill: rgba(68, 131, 97, 1); }
      .block-color-blue { color: rgba(51, 126, 169, 1); fill: rgba(51, 126, 169,
      1); } .block-color-purple { color: rgba(144, 101, 176, 1); fill: rgba(144,
      101, 176, 1); } .block-color-pink { color: rgba(193, 76, 138, 1); fill:
      rgba(193, 76, 138, 1); } .block-color-red { color: rgba(212, 76, 71, 1);
      fill: rgba(212, 76, 71, 1); } .block-color-gray_background { background:
      rgba(241, 241, 239, 1); } .block-color-brown_background { background:
      rgba(244, 238, 238, 1); } .block-color-orange_background { background:
      rgba(251, 236, 221, 1); } .block-color-yellow_background { background:
      rgba(251, 243, 219, 1); } .block-color-teal_background { background:
      rgba(237, 243, 236, 1); } .block-color-blue_background { background:
      rgba(231, 243, 248, 1); } .block-color-purple_background { background:
      rgba(244, 240, 247, 0.8); } .block-color-pink_background { background:
      rgba(249, 238, 243, 0.8); } .block-color-red_background { background:
      rgba(253, 235, 236, 1); } .select-value-color-pink { background-color:
      rgba(245, 224, 233, 1); } .select-value-color-purple { background-color:
      rgba(232, 222, 238, 1); } .select-value-color-green { background-color:
      rgba(219, 237, 219, 1); } .select-value-color-gray { background-color:
      rgba(227, 226, 224, 1); } .select-value-color-opaquegray {
      background-color: rgba(255, 255, 255, 0.0375); }
      .select-value-color-orange { background-color: rgba(250, 222, 201, 1); }
      .select-value-color-brown { background-color: rgba(238, 224, 218, 1); }
      .select-value-color-red { background-color: rgba(255, 226, 221, 1); }
      .select-value-color-yellow { background-color: rgba(253, 236, 200, 1); }
      .select-value-color-blue { background-color: rgba(211, 229, 239, 1); }
      .checkbox { display: inline-flex; vertical-align: text-bottom; width: 16;
      height: 16; background-size: 16px; margin-left: 2px; margin-right: 5px; }
      .checkbox-on { background-image:
      url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%2358A9D7%22%2F%3E%0A%3Cpath%20d%3D%22M6.71429%2012.2852L14%204.9995L12.7143%203.71436L6.71429%209.71378L3.28571%206.2831L2%207.57092L6.71429%2012.2852Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
      } .checkbox-off { background-image:
      url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20x%3D%220.75%22%20y%3D%220.75%22%20width%3D%2214.5%22%20height%3D%2214.5%22%20fill%3D%22white%22%20stroke%3D%22%2336352F%22%20stroke-width%3D%221.5%22%2F%3E%0A%3C%2Fsvg%3E");
      }

    </style></head><body><article
      id="9fb01595-0c54-408b-b146-303a277e1862"
      class="page sans"
    ><header><h1 class="page-title">Terms of Use</h1></header><div
        class="page-body"
      ><p id="fa3382f6-0091-4c7d-9c55-555c1cfdd631" class=""><strong>1.
            AGREEMENT TO TERMS</strong></p><p
          id="bd972c0c-efa2-4db8-997e-ea7d6073e7a7"
          class=""
        >These Terms of Use constitute a legally binding agreement made between
          you, whether personally or on behalf of an entity (“you”)
          and Resonate, Inc. (&quot;<strong>Company</strong>,&quot; “<strong
          >we</strong>,&quot; “<strong>us</strong>,&quot; or “<strong
          >our</strong>”), concerning your access to and use of the <a
            href="https://www.resonateapp.com/"
          >https://www.resonateapp.com</a> website as well as any other media
          form, media channel, mobile website or mobile application related,
          linked, or otherwise connected thereto (collectively, the “Site”). We
          are registered in California, United States and have our registered
          office at 625 8th Street apt 635 , San Francisco, CA 94103. You agree
          that by accessing the Site, you have read, understood, and agreed to
          be bound by all of these Terms of Use. IF YOU DO NOT AGREE WITH ALL OF
          THESE TERMS OF USE, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE
          SITE AND YOU MUST DISCONTINUE USE IMMEDIATELY.</p><p
          id="f9dbc36d-8e78-4b5c-9a89-08886bc8e484"
          class=""
        >Supplemental terms and conditions or documents that may be posted on
          the Site from time to time are hereby expressly incorporated herein by
          reference. We reserve the right, in our sole discretion, to make
          changes or modifications to these Terms of Use at any time and for any
          reason. We will alert you about any changes by updating the “Last
          updated” date of these Terms of Use, and you waive any right to
          receive specific notice of each such change. Please ensure that you
          check the applicable Terms every time you use our Site so that you
          understand which Terms apply. You will be subject to, and will be
          deemed to have been made aware of and to have accepted, the changes in
          any revised Terms of Use by your continued use of the Site after the
          date such revised Terms of Use are posted.</p><p
          id="41bc6a4f-b54d-4506-ba24-2abe8a58cc88"
          class=""
        >The information provided on the Site is not intended for distribution
          to or use by any person or entity in any jurisdiction or country where
          such distribution or use would be contrary to law or regulation or
          which would subject us to any registration requirement within such
          jurisdiction or country. Accordingly, those persons who choose to
          access the Site from other locations do so on their own initiative and
          are solely responsible for compliance with local laws, if and to the
          extent local laws are applicable.</p><p
          id="11a7d469-afc5-4d3e-b4d2-6caf8ce6fc70"
          class=""
        >The Site is not tailored to comply with industry-specific regulations
          (Health Insurance Portability and Accountability Act (HIPAA), Federal
          Information Security Management Act (FISMA), etc.), so if your
          interactions would be subjected to such laws, you may not use this
          Site. You may not use the Site in a way that would violate the
          Gramm-Leach-Bliley Act (GLBA).</p><p
          id="8e0ea41c-b8a8-4d5a-8a91-b545ba59252b"
          class=""
        >The Site is intended for users who are at least 18 years old. Persons
          under the age of 18 are not permitted to use or register for the Site.</p><p
          id="2e57fafb-e398-40ee-b8f1-594c27fe6881"
          class=""
        ><strong>2. </strong><strong>INTELLECTUAL PROPERTY RIGHTS</strong></p><p
          id="a56d0562-cfb5-4b60-bf65-ad122855c2e0"
          class=""
        >Unless otherwise indicated, the Site is our proprietary property and
          all source code, databases, functionality, software, website designs,
          audio, video, text, photographs, and graphics on the Site
          (collectively, the “Content”) and the trademarks, service marks, and
          logos contained therein (the “Marks”) are owned or controlled by us or
          licensed to us, and are protected by copyright and trademark laws and
          various other intellectual property rights and unfair competition laws
          of the United States, international copyright laws, and international
          conventions. The Content and the Marks are provided on the Site “AS
          IS” for your information and personal use only. Except as expressly
          provided in these Terms of Use, no part of the Site and no Content or
          Marks may be copied, reproduced, aggregated, republished, uploaded,
          posted, publicly displayed, encoded, translated, transmitted,
          distributed, sold, licensed, or otherwise exploited for any commercial
          purpose whatsoever, without our express prior written permission.</p><p
          id="a5e01087-3faa-4214-808b-ff8272e531f4"
          class=""
        >Provided that you are eligible to use the Site, you are granted a
          limited license to access and use the Site and to download or print a
          copy of any portion of the Content to which you have properly gained
          access solely for your personal, non-commercial use. We reserve all
          rights not expressly granted to you in and to the Site, the Content
          and the Marks.</p><p
          id="b3471c83-8ac8-4e2b-9e92-e3a10b6f62f9"
          class=""
        ><strong>3.</strong><strong> </strong><strong>USER REPRESENTATIONS</strong></p><p
          id="19fff87b-d54a-4851-96fe-840097abb578"
          class=""
        >By using the Site, you represent and warrant that: (1) all registration
          information you submit will be true, accurate, current, and complete;
          (2) you will maintain the accuracy of such information and promptly
          update such registration information as necessary; (3) you have the
          legal capacity and you agree to comply with these Terms of Use; (4)
          you are not a minor in the jurisdiction in which you reside; (5) you
          will not access the Site through automated or non-human means, whether
          through a bot, script, or otherwise; (6) you will not use the Site for
          any illegal or unauthorized purpose; and (7) your use of the Site will
          not violate any applicable law or regulation.</p><p
          id="3eab2f64-3d04-429d-b85b-51dce2b88790"
          class=""
        >If you provide any information that is untrue, inaccurate, not current,
          or incomplete, we have the right to suspend or terminate your account
          and refuse any and all current or future use of the Site (or any
          portion thereof).</p><p
          id="dd0a8e5d-2242-4b34-9c7d-74c33abdb058"
          class=""
        ><strong>4.</strong><strong> </strong><strong>USER REGISTRATION</strong></p><p
          id="df676fde-78d8-436e-b516-a64c9bb89293"
          class=""
        >You may be required to register with the Site. You agree to keep your
          password confidential and will be responsible for all use of your
          account and password. We reserve the right to remove, reclaim, or
          change a username you select if we determine, in our sole discretion,
          that such username is inappropriate, obscene, or otherwise
          objectionable.</p><p
          id="69176a2f-2fe4-4d5e-9acf-20e3df0a6fa4"
          class=""
        ><strong>5.</strong><strong> </strong><strong>PROHIBITED ACTIVITIES</strong></p><p
          id="f0c835c0-2519-4758-83ac-ef7a4b87b9d8"
          class=""
        >You may not access or use the Site for any purpose other than that for
          which we make the Site available. The Site may not be used in
          connection with any commercial endeavors except those that are
          specifically endorsed or approved by us.</p><p
          id="69613772-59fe-476d-a07a-325d00a4e034"
          class=""
        >As a user of the Site, you agree not to:</p><ul
          id="c9188ac4-08e6-4459-9eac-493907ff5bf8"
          class="bulleted-list"
        ><li style="list-style-type:disc">Systematically retrieve data or other
            content from the Site to create or compile, directly or indirectly,
            a collection, compilation, database, or directory without written
            permission from us.</li></ul><ul
          id="3a00c7fd-e86c-448f-9cc2-a0d90b06745c"
          class="bulleted-list"
        ><li style="list-style-type:disc">Trick, defraud, or mislead us and
            other users, especially in any attempt to learn sensitive account
            information such as user passwords.</li></ul><ul
          id="c75433e6-2194-45b8-9bd1-ac28d3c83b31"
          class="bulleted-list"
        ><li style="list-style-type:disc">Circumvent, disable, or otherwise
            interfere with security-related features of the Site, including
            features that prevent or restrict the use or copying of any Content
            or enforce limitations on the use of the Site and/or the Content
            contained therein.</li></ul><ul
          id="dd1c6375-c2c8-4d70-b910-fedc7cd9a77c"
          class="bulleted-list"
        ><li style="list-style-type:disc">Disparage, tarnish, or otherwise harm,
            in our opinion, us and/or the Site.</li></ul><ul
          id="c624efcd-3a43-4554-b05b-a37fabe18456"
          class="bulleted-list"
        ><li style="list-style-type:disc">Use any information obtained from the
            Site in order to harass, abuse, or harm another person.</li></ul><ul
          id="6c32e418-6b40-4f1b-8ac7-ddf0378c3adb"
          class="bulleted-list"
        ><li style="list-style-type:disc">Make improper use of our support
            services or submit false reports of abuse or misconduct.</li></ul><ul
          id="fa56f5f9-7819-45f0-ba1d-aff5400ca06a"
          class="bulleted-list"
        ><li style="list-style-type:disc">Use the Site in a manner inconsistent
            with any applicable laws or regulations.</li></ul><ul
          id="720fcaca-3058-458d-80db-37ab435b6147"
          class="bulleted-list"
        ><li style="list-style-type:disc">Engage in unauthorized framing of or
            linking to the Site.</li></ul><ul
          id="63748403-e1cb-48bb-b9da-8eb03dc65495"
          class="bulleted-list"
        ><li style="list-style-type:disc">Upload or transmit (or attempt to
            upload or to transmit) viruses, Trojan horses, or other material,
            including excessive use of capital letters and spamming (continuous
            posting of repetitive text), that interferes with any party’s
            uninterrupted use and enjoyment of the Site or modifies, impairs,
            disrupts, alters, or interferes with the use, features, functions,
            operation, or maintenance of the Site.</li></ul><ul
          id="c599e5ba-2501-43d2-a185-2ac4d930bdb0"
          class="bulleted-list"
        ><li style="list-style-type:disc">Engage in any automated use of the
            system, such as using scripts to send comments or messages, or using
            any data mining, robots, or similar data gathering and extraction
            tools.</li></ul><ul
          id="cbb3ce7d-563d-49dc-8a70-6b22c601dff6"
          class="bulleted-list"
        ><li style="list-style-type:disc">Delete the copyright or other
            proprietary rights notice from any Content.</li></ul><ul
          id="b95b8db9-3e88-4e1f-a002-d8e5b505d0ab"
          class="bulleted-list"
        ><li style="list-style-type:disc">Attempt to impersonate another user or
            person or use the username of another user.</li></ul><ul
          id="313a3e65-5fa9-4630-9e41-aef568530cff"
          class="bulleted-list"
        ><li style="list-style-type:disc">Upload or transmit (or attempt to
            upload or to transmit) any material that acts as a passive or active
            information collection or transmission mechanism, including without
            limitation, clear graphics interchange formats (“gifs”), 1×1 pixels,
            web bugs, cookies, or other similar devices (sometimes referred to
            as “spyware” or “passive collection mechanisms” or “pcms”).</li></ul><ul
          id="928e0d81-0a04-4c2e-8207-fe1c28c185a1"
          class="bulleted-list"
        ><li style="list-style-type:disc">Interfere with, disrupt, or create an
            undue burden on the Site or the networks or services connected to
            the Site.</li></ul><ul
          id="849c0684-415b-4fa1-9882-7d396e16686e"
          class="bulleted-list"
        ><li style="list-style-type:disc">Harass, annoy, intimidate, or threaten
            any of our employees or agents engaged in providing any portion of
            the Site to you.</li></ul><ul
          id="aa3843b3-befd-44cb-913d-3aed847324d8"
          class="bulleted-list"
        ><li style="list-style-type:disc">Attempt to bypass any measures of the
            Site designed to prevent or restrict access to the Site, or any
            portion of the Site.</li></ul><ul
          id="181ded3c-b4ce-4f7e-b6c4-f9c62afdf232"
          class="bulleted-list"
        ><li style="list-style-type:disc">Copy or adapt the Site’s software,
            including but not limited to Flash, PHP, HTML, JavaScript, or other
            code.</li></ul><ul
          id="99c8306d-e46e-43d4-b33b-3f1b5c03d940"
          class="bulleted-list"
        ><li style="list-style-type:disc">Except as permitted by applicable law,
            decipher, decompile, disassemble, or reverse engineer any of the
            software comprising or in any way making up a part of the Site.</li></ul><ul
          id="22f2e8d7-2d6c-459e-bc61-b910296bbcb2"
          class="bulleted-list"
        ><li style="list-style-type:disc">Except as may be the result of
            standard search engine or Internet browser usage, use, launch,
            develop, or distribute any automated system, including without
            limitation, any spider, robot, cheat utility, scraper, or offline
            reader that accesses the Site, or using or launching any
            unauthorized script or other software.</li></ul><ul
          id="320aabc3-8be7-4339-b74d-12bed9c9950e"
          class="bulleted-list"
        ><li style="list-style-type:disc">Use a buying agent or purchasing agent
            to make purchases on the Site.</li></ul><ul
          id="bb6ec0eb-4003-4dc1-9c6a-71b990777629"
          class="bulleted-list"
        ><li style="list-style-type:disc">Make any unauthorized use of the Site,
            including collecting usernames and/or email addresses of users by
            electronic or other means for the purpose of sending unsolicited
            email, or creating user accounts by automated means or under false
            pretenses.</li></ul><ul
          id="ba9090b6-ad99-487c-9fed-3099d530e9c8"
          class="bulleted-list"
        ><li style="list-style-type:disc">Use the Site as part of any effort to
            compete with us or otherwise use the Site and/or the Content for any
            revenue-generating endeavor or commercial enterprise.</li></ul><p
          id="00cc98f4-08f6-4785-88ef-9a55452f08dc"
          class=""
        ><strong>6.</strong><strong> </strong><strong>USER GENERATED
            CONTRIBUTIONS</strong></p><p
          id="1dd990d8-2cf9-4efa-954a-b00135e5486b"
          class=""
        >The Site may invite you to chat, contribute to, or participate in
          blogs, message boards, online forums, and other functionality, and may
          provide you with the opportunity to create, submit, post, display,
          transmit, perform, publish, distribute, or broadcast content and
          materials to us or on the Site, including but not limited to text,
          writings, video, audio, photographs, graphics, comments, suggestions,
          or personal information or other material (collectively,
          &quot;Contributions&quot;). Contributions may be viewable by other
          users of the Site and through third-party websites. As such, any
          Contributions you transmit may be treated as non-confidential and
          non-proprietary. When you create or make available any Contributions,
          you thereby represent and warrant that:</p><ul
          id="7453897b-c58f-449b-ac59-e61b5932b1f4"
          class="bulleted-list"
        ><li style="list-style-type:disc">The creation, distribution,
            transmission, public display, or performance, and the accessing,
            downloading, or copying of your Contributions do not and will not
            infringe the proprietary rights, including but not limited to the
            copyright, patent, trademark, trade secret, or moral rights of any
            third party.</li></ul><ul
          id="272e96c8-8a5a-476b-a535-7305e491dd0f"
          class="bulleted-list"
        ><li style="list-style-type:disc">You are the creator and owner of or
            have the necessary licenses, rights, consents, releases, and
            permissions to use and to authorize us, the Site, and other users of
            the Site to use your Contributions in any manner contemplated by the
            Site and these Terms of Use.</li></ul><ul
          id="67baba2f-0509-436e-a892-b3e033d657f4"
          class="bulleted-list"
        ><li style="list-style-type:disc">You have the written consent, release,
            and/or permission of each and every identifiable individual person
            in your Contributions to use the name or likeness of each and every
            such identifiable individual person to enable inclusion and use of
            your Contributions in any manner contemplated by the Site and these
            Terms of Use.</li></ul><ul
          id="366916c5-bf29-4707-a703-5c9df3f84f76"
          class="bulleted-list"
        ><li style="list-style-type:disc">Your Contributions are not false,
            inaccurate, or misleading.</li></ul><ul
          id="97ccf66f-30dd-43a5-b664-7b4d90afe616"
          class="bulleted-list"
        ><li style="list-style-type:disc">Your Contributions are not unsolicited
            or unauthorized advertising, promotional materials, pyramid schemes,
            chain letters, spam, mass mailings, or other forms of solicitation.</li></ul><ul
          id="e3184044-8869-416d-828b-ed8bc2a17331"
          class="bulleted-list"
        ><li style="list-style-type:disc">Your Contributions are not obscene,
            lewd, lascivious, filthy, violent, harassing, libelous, slanderous,
            or otherwise objectionable (as determined by us).</li></ul><ul
          id="6265b8a8-bded-4505-adb2-1c5ed04cd3a1"
          class="bulleted-list"
        ><li style="list-style-type:disc">Your Contributions do not ridicule,
            mock, disparage, intimidate, or abuse anyone.</li></ul><ul
          id="e7a6b87a-f739-4b68-a12a-90cdff8340be"
          class="bulleted-list"
        ><li style="list-style-type:disc">Your Contributions are not used to
            harass or threaten (in the legal sense of those terms) any other
            person and to promote violence against a specific person or class of
            people.</li></ul><ul
          id="5fefde9d-b98e-4052-a1ae-98e7c8b14395"
          class="bulleted-list"
        ><li style="list-style-type:disc">Your Contributions do not violate any
            applicable law, regulation, or rule.</li></ul><ul
          id="89ff8ebe-f02a-499a-9fef-48327d1053ad"
          class="bulleted-list"
        ><li style="list-style-type:disc">Your Contributions do not violate the
            privacy or publicity rights of any third party.</li></ul><ul
          id="36e0468b-aea7-411a-8bf4-ef99d4cbea3b"
          class="bulleted-list"
        ><li style="list-style-type:disc">Your Contributions do not violate any
            applicable law concerning child pornography, or otherwise intended
            to protect the health or well-being of minors.</li></ul><ul
          id="8e3b0fa8-602d-44be-bf3f-5e4e8d513a51"
          class="bulleted-list"
        ><li style="list-style-type:disc">Your Contributions do not include any
            offensive comments that are connected to race, national origin,
            gender, sexual preference, or physical handicap.</li></ul><ul
          id="b2becefd-a761-45cc-8d42-a73a9d694a7e"
          class="bulleted-list"
        ><li style="list-style-type:disc">Your Contributions do not otherwise
            violate, or link to material that violates, any provision of these
            Terms of Use, or any applicable law or regulation.</li></ul><p
          id="6c32a334-b25d-4b5e-a788-e5d54c29cf14"
          class=""
        >Any use of the Site in violation of the foregoing violates these Terms
          of Use and may result in, among other things, termination or
          suspension of your rights to use the Site.</p><p
          id="4e3e7353-12a0-4119-a579-e77deb50ec59"
          class=""
        ><strong>7.</strong><strong> </strong><strong>CONTRIBUTION LICENSE</strong></p><p
          id="b3500496-0c3d-4541-864c-38d65b670251"
          class=""
        >By posting your Contributions to any part of the Site, you
          automatically grant, and you represent and warrant that you have the
          right to grant, to us an unrestricted, unlimited, irrevocable,
          perpetual, non-exclusive, transferable, royalty-free, fully-paid,
          worldwide right, and license to host, use, copy, reproduce, disclose,
          sell, resell, publish, broadcast, retitle, archive, store, cache,
          publicly perform, publicly display, reformat, translate, transmit,
          excerpt (in whole or in part), and distribute such Contributions
          (including, without limitation, your image and voice) for any purpose,
          commercial, advertising, or otherwise, and to prepare derivative works
          of, or incorporate into other works, such Contributions, and grant and
          authorize sublicenses of the foregoing. The use and distribution may
          occur in any media formats and through any media channels.</p><p
          id="a428571f-ee7f-4198-a625-e50ac826d136"
          class=""
        >This license will apply to any form, media, or technology now known or
          hereafter developed, and includes our use of your name, company name,
          and franchise name, as applicable, and any of the trademarks, service
          marks, trade names, logos, and personal and commercial images you
          provide. You waive all moral rights in your Contributions, and you
          warrant that moral rights have not otherwise been asserted in your
          Contributions.</p><p
          id="b01571dd-840e-4dc2-9907-37751ab7de6b"
          class=""
        >We do not assert any ownership over your Contributions. You retain full
          ownership of all of your Contributions and any intellectual property
          rights or other proprietary rights associated with your Contributions.
          We are not liable for any statements or representations in your
          Contributions provided by you in any area on the Site. You are solely
          responsible for your Contributions to the Site and you expressly agree
          to exonerate us from any and all responsibility and to refrain from
          any legal action against us regarding your Contributions.</p><p
          id="7188747c-259e-462d-9333-91e8855776eb"
          class=""
        >We have the right, in our sole and absolute discretion, (1) to edit,
          redact, or otherwise change any Contributions; (2) to re-categorize
          any Contributions to place them in more appropriate locations on the
          Site; and (3) to pre-screen or delete any Contributions at any time
          and for any reason, without notice. We have no obligation to monitor
          your Contributions.</p><p
          id="23d5f169-3f1d-44f6-af5b-2372763c1f37"
          class=""
        ><strong>8.</strong><strong> </strong><strong>SUBMISSIONS</strong></p><p
          id="03693295-44f1-418e-9e1d-ca8efececf8a"
          class=""
        >You acknowledge and agree that any questions, comments, suggestions,
          ideas, feedback, or other information regarding the Site
          (&quot;Submissions&quot;) provided by you to us are non-confidential
          and shall become our sole property. We shall own exclusive rights,
          including all intellectual property rights, and shall be entitled to
          the unrestricted use and dissemination of these Submissions for any
          lawful purpose, commercial or otherwise, without acknowledgment or
          compensation to you. You hereby waive all moral rights to any such
          Submissions, and you hereby warrant that any such Submissions are
          original with you or that you have the right to submit such
          Submissions. You agree there shall be no recourse against us for any
          alleged or actual infringement or misappropriation of any proprietary
          right in your Submissions.</p><p
          id="0241bbeb-bde0-4c5f-be77-916f9fcf534d"
          class=""
        ><strong>9.</strong><strong> </strong><strong>SITE MANAGEMENT</strong></p><p
          id="37eb2bac-0470-441e-955e-51cad4aacd9a"
          class=""
        >We reserve the right, but not the obligation, to: (1) monitor the Site
          for violations of these Terms of Use; (2) take appropriate legal
          action against anyone who, in our sole discretion, violates the law or
          these Terms of Use, including without limitation, reporting such user
          to law enforcement authorities; (3) in our sole discretion and without
          limitation, refuse, restrict access to, limit the availability of, or
          disable (to the extent technologically feasible) any of your
          Contributions or any portion thereof; (4) in our sole discretion and
          without limitation, notice, or liability, to remove from the Site or
          otherwise disable all files and content that are excessive in size or
          are in any way burdensome to our systems; and (5) otherwise manage the
          Site in a manner designed to protect our rights and property and to
          facilitate the proper functioning of the Site.</p><p
          id="add90d0b-ac75-4959-901b-0b6d1d43282f"
          class=""
        ><strong>10.</strong><strong> </strong><strong>PRIVACY POLICY</strong></p><p
          id="1e0b84c1-0f90-459b-9e59-70dbbcc7a15e"
          class=""
        >We care about data privacy and security. Please review our Privacy
          Policy:<strong> </strong><a
            href="https://www.notion.so/Resonate-Privacy-Policy-92d116f874c943e49b0784b1edf02abe"
          ><strong
            >https://resonateapp.notion.site/resonate-privacy-policy-92d116f874c943e49b0784b1edf02abe</strong></a>. By
          using the Site, you agree to be bound by our Privacy Policy, which is
          incorporated into these Terms of Use. Please be advised the Site is
          hosted in the United States. If you access the Site from any other
          region of the world with laws or other requirements governing personal
          data collection, use, or disclosure that differ from applicable laws
          in the United States, then through your continued use of the Site, you
          are transferring your data to the United States, and you agree to have
          your data transferred to and processed in the United States.</p><p
          id="a45b269e-af04-4bdb-8a34-dad4b06c9696"
          class=""
        ><strong>11.</strong><strong> </strong><strong>COPYRIGHT INFRINGEMENTS</strong></p><p
          id="78d63272-85b1-4813-9362-6f35f381e4fa"
          class=""
        >We respect the intellectual property rights of others. If you believe
          that any material available on or through the Site infringes upon any
          copyright you own or control, please immediately notify us using the
          contact information provided below (a “Notification”). A copy of your
          Notification will be sent to the person who posted or stored the
          material addressed in the Notification. Please be advised that
          pursuant to applicable law you may be held liable for damages if you
          make material misrepresentations in a Notification. Thus, if you are
          not sure that material located on or linked to by the Site infringes
          your copyright, you should consider first contacting an attorney.</p><p
          id="261fe4d7-19c0-44db-95f7-a6a603a382fe"
          class=""
        ><strong>12.</strong><strong> </strong><strong>TERM AND TERMINATION</strong></p><p
          id="6119b0f9-595a-47dd-ba21-26337a7eef88"
          class=""
        >These Terms of Use shall remain in full force and effect while you use
          the Site. WITHOUT LIMITING ANY OTHER PROVISION OF THESE TERMS OF USE,
          WE RESERVE THE RIGHT TO, IN OUR SOLE DISCRETION AND WITHOUT NOTICE OR
          LIABILITY, DENY ACCESS TO AND USE OF THE SITE (INCLUDING BLOCKING
          CERTAIN IP ADDRESSES), TO ANY PERSON FOR ANY REASON OR FOR NO REASON,
          INCLUDING WITHOUT LIMITATION FOR BREACH OF ANY REPRESENTATION,
          WARRANTY, OR COVENANT CONTAINED IN THESE TERMS OF USE OR OF ANY
          APPLICABLE LAW OR REGULATION. WE MAY TERMINATE YOUR USE OR
          PARTICIPATION IN THE SITE OR DELETE YOUR ACCOUNT AND ANY CONTENT OR
          INFORMATION THAT YOU POSTED AT ANY TIME, WITHOUT WARNING, IN OUR SOLE
          DISCRETION.</p><p
          id="2570dd18-76a6-4131-b6b5-bf717ad3e177"
          class=""
        >If we terminate or suspend your account for any reason, you are
          prohibited from registering and creating a new account under your
          name, a fake or borrowed name, or the name of any third party, even if
          you may be acting on behalf of the third party. In addition to
          terminating or suspending your account, we reserve the right to take
          appropriate legal action, including without limitation pursuing civil,
          criminal, and injunctive redress.</p><p
          id="44f6cb16-77ca-4a76-bb48-f739dcaa3298"
          class=""
        ><strong>13.</strong><strong> </strong><strong>MODIFICATIONS AND
            INTERRUPTIONS</strong></p><p
          id="c53b024f-eb6a-45ba-9afe-ec94c35da9c7"
          class=""
        >We reserve the right to change, modify, or remove the contents of the
          Site at any time or for any reason at our sole discretion without
          notice. However, we have no obligation to update any information on
          our Site. We also reserve the right to modify or discontinue all or
          part of the Site without notice at any time. We will not be liable to
          you or any third party for any modification, price change, suspension,
          or discontinuance of the Site.</p><p
          id="3d833e53-e656-4448-ab80-1df4ab3a7504"
          class=""
        >We cannot guarantee the Site will be available at all times. We may
          experience hardware, software, or other problems or need to perform
          maintenance related to the Site, resulting in interruptions, delays,
          or errors. We reserve the right to change, revise, update, suspend,
          discontinue, or otherwise modify the Site at any time or for any
          reason without notice to you. You agree that we have no liability
          whatsoever for any loss, damage, or inconvenience caused by your
          inability to access or use the Site during any downtime or
          discontinuance of the Site. Nothing in these Terms of Use will be
          construed to obligate us to maintain and support the Site or to supply
          any corrections, updates, or releases in connection therewith.</p><p
          id="5834f02c-12b4-47d0-a3d7-81444d6a8c6a"
          class=""
        ><strong>14.</strong><strong> </strong><strong>GOVERNING LAW</strong></p><p
          id="92ad5e6a-135b-43c4-a71a-b6ba749c40b4"
          class=""
        >These Terms of Use and your use of the Site are governed by and
          construed in accordance with the laws of the State
          of California applicable to agreements made and to be entirely
          performed within the State of California, without regard to its
          conflict of law principles.</p><p
          id="a773d13a-48ba-4362-97f3-b9aaef79872b"
          class=""
        ><strong>15.</strong><strong> </strong><strong>DISPUTE RESOLUTION</strong></p><p
          id="5f1689cc-8dee-4c16-93fa-516cec57902a"
          class=""
        ><strong>Informal Negotiations</strong></p><p
          id="65ae0659-a860-47d9-95c3-8cf98c7eef57"
          class=""
        >To expedite resolution and control the cost of any dispute,
          controversy, or claim related to these Terms of Use (each
          &quot;Dispute&quot; and collectively, the “Disputes”) brought by
          either you or us (individually, a “Party” and collectively, the
          “Parties”), the Parties agree to first attempt to negotiate any
          Dispute (except those Disputes expressly provided below) informally
          for at least thirty (30) days before initiating arbitration. Such
          informal negotiations commence upon written notice from one Party to
          the other Party.</p><p
          id="160c3a0e-9ab6-4682-b09f-4ba139114d56"
          class=""
        ><strong>Binding Arbitration</strong></p><p
          id="7d7bc254-5d24-4d2c-ae6a-acbbe35e7562"
          class=""
        >If the Parties are unable to resolve a Dispute through informal
          negotiations, the Dispute (except those Disputes expressly excluded
          below) will be finally and exclusively resolved through binding
          arbitration. YOU UNDERSTAND THAT WITHOUT THIS PROVISION, YOU WOULD
          HAVE THE RIGHT TO SUE IN COURT AND HAVE A JURY TRIAL. The arbitration
          shall be commenced and conducted under the Commercial Arbitration
          Rules of the American Arbitration Association (&quot;AAA&quot;) and,
          where appropriate, the AAA’s Supplementary Procedures for Consumer
          Related Disputes (&quot;AAA Consumer Rules&quot;), both of which are
          available at the AAA website: <a
            href="http://www.adr.org/"
          >www.adr.org</a>. Your arbitration fees and your share of arbitrator
          compensation shall be governed by the AAA Consumer Rules and, where
          appropriate, limited by the AAA Consumer Rules. If such costs are
          determined by the arbitrator to be excessive, we will pay all
          arbitration fees and expenses. The arbitration may be conducted in
          person, through the submission of documents, by phone, or online. The
          arbitrator will make a decision in writing, but need not provide a
          statement of reasons unless requested by either Party. The arbitrator
          must follow applicable law, and any award may be challenged if the
          arbitrator fails to do so. Except where otherwise required by the
          applicable AAA rules or applicable law, the arbitration will take
          place in San Francisco, California. Except as otherwise provided
          herein, the Parties may litigate in court to compel arbitration, stay
          proceedings pending arbitration, or to confirm, modify, vacate, or
          enter judgment on the award entered by the arbitrator.</p><p
          id="f5f0f714-e0fe-4be4-9f1e-e497ee35d532"
          class=""
        >If for any reason, a Dispute proceeds in court rather than arbitration,
          the Dispute shall be commenced or prosecuted in the state and federal
          courts located in San Francisco, California, and the Parties hereby
          consent to, and waive all defenses of lack of personal jurisdiction,
          and forum non conveniens with respect to venue and jurisdiction in
          such state and federal courts. Application of the United Nations
          Convention on Contracts for the International Sale of Goods and the
          Uniform Computer Information Transaction Act (UCITA) is excluded from
          these Terms of Use.</p><p
          id="c2659d82-893b-4455-a047-913a3497cac4"
          class=""
        >If this provision is found to be illegal or unenforceable, then neither
          Party will elect to arbitrate any Dispute falling within that portion
          of this provision found to be illegal or unenforceable, and such
          Dispute shall be decided by a court of competent jurisdiction within
          the courts listed for jurisdiction above, and the Parties agree to
          submit to the personal jurisdiction of that court.</p><p
          id="2afc45d2-a639-4c5c-b7c7-6c1cf924c592"
          class=""
        ><strong>Restrictions</strong></p><p
          id="8c4c6ae0-6117-4a32-a68a-8c8f97df537c"
          class=""
        >The Parties agree that any arbitration shall be limited to the Dispute
          between the Parties individually. To the full extent permitted by law,
          (a) no arbitration shall be joined with any other proceeding; (b)
          there is no right or authority for any Dispute to be arbitrated on a
          class-action basis or to utilize class action procedures; and (c)
          there is no right or authority for any Dispute to be brought in a
          purported representative capacity on behalf of the general public or
          any other persons.</p><p
          id="cd82e0b8-c433-4312-bc2d-6e89b31a19a6"
          class=""
        ><strong>Exceptions to Informal Negotiations and Arbitration</strong></p><p
          id="6693fd78-1156-439e-a8f3-fff98ba5b2a2"
          class=""
        >The Parties agree that the following Disputes are not subject to the
          above provisions concerning informal negotiations and binding
          arbitration: (a) any Disputes seeking to enforce or protect, or
          concerning the validity of, any of the intellectual property rights of
          a Party; (b) any Dispute related to, or arising from, allegations of
          theft, piracy, invasion of privacy, or unauthorized use; and (c) any
          claim for injunctive relief. If this provision is found to be illegal
          or unenforceable, then neither Party will elect to arbitrate any
          Dispute falling within that portion of this provision found to be
          illegal or unenforceable and such Dispute shall be decided by a court
          of competent jurisdiction within the courts listed for jurisdiction
          above, and the Parties agree to submit to the personal jurisdiction of
          that court.</p><p
          id="2ff8a5fe-223e-4625-9050-438e4664f4f6"
          class=""
        ><strong>16.</strong><strong> </strong><strong
          >CORRECTIONS</strong></p><p
          id="7692a29a-85d8-4516-945a-2192ce874d31"
          class=""
        >There may be information on the Site that contains typographical
          errors, inaccuracies, or omissions, including descriptions, pricing,
          availability, and various other information. We reserve the right to
          correct any errors, inaccuracies, or omissions and to change or update
          the information on the Site at any time, without prior notice.</p><p
          id="b3bb692d-1304-4936-93fd-05cbd8afa92d"
          class=""
        ><strong>17.</strong><strong> </strong><strong>DISCLAIMER</strong></p><p
          id="39007041-6c84-4764-9197-f8477e00daea"
          class=""
        >THE SITE IS PROVIDED ON AN AS-IS AND AS-AVAILABLE BASIS. YOU AGREE THAT
          YOUR USE OF THE SITE AND OUR SERVICES WILL BE AT YOUR SOLE RISK. TO
          THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES,
          EXPRESS OR IMPLIED, IN CONNECTION WITH THE SITE AND YOUR USE THEREOF,
          INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF
          MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
          NON-INFRINGEMENT. WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE
          ACCURACY OR COMPLETENESS OF THE SITE’S CONTENT OR THE CONTENT OF ANY
          WEBSITES LINKED TO THE SITE AND WE WILL ASSUME NO LIABILITY OR
          RESPONSIBILITY FOR ANY (1) ERRORS, MISTAKES, OR INACCURACIES OF
          CONTENT AND MATERIALS, (2) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY
          NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE SITE,
          (3) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY
          AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED
          THEREIN, (4) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM
          THE SITE, (5) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY
          BE TRANSMITTED TO OR THROUGH THE SITE BY ANY THIRD PARTY, AND/OR (6)
          ANY ERRORS OR OMISSIONS IN ANY CONTENT AND MATERIALS OR FOR ANY LOSS
          OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT
          POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SITE. WE DO
          NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY
          PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE
          SITE, ANY HYPERLINKED WEBSITE, OR ANY WEBSITE OR MOBILE APPLICATION
          FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND WE WILL NOT BE A
          PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION
          BETWEEN YOU AND ANY THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS
          WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY
          ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION
          WHERE APPROPRIATE.</p><p
          id="e7027d5e-6684-4cfb-8544-942dcf8b9399"
          class=""
        ><strong>18.</strong><strong> </strong><strong>LIMITATIONS OF LIABILITY</strong></p><p
          id="e7bec449-233a-4b98-852c-76a59595b298"
          class=""
        >IN NO EVENT WILL WE OR OUR DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE TO
          YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL,
          EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING LOST
          PROFIT, LOST REVENUE, LOSS OF DATA, OR OTHER DAMAGES ARISING FROM YOUR
          USE OF THE SITE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF
          SUCH DAMAGES. NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED
          HEREIN, OUR LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER AND REGARDLESS
          OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO THE AMOUNT
          PAID, IF ANY, BY YOU TO US DURING THE SIX (6) MONTH PERIOD PRIOR TO
          ANY CAUSE OF ACTION ARISING. CERTAIN US STATE LAWS AND INTERNATIONAL
          LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION
          OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR
          ALL OF THE ABOVE DISCLAIMERS OR LIMITATIONS MAY NOT APPLY TO YOU, AND
          YOU MAY HAVE ADDITIONAL RIGHTS.</p><p
          id="47d4923a-c2b0-40fe-88c1-829e68dff4b7"
          class=""
        ><strong>19.</strong><strong> </strong><strong
          >INDEMNIFICATION</strong></p><p
          id="311028cf-6310-4d85-9a1f-80267dd81590"
          class=""
        >You agree to defend, indemnify, and hold us harmless, including our
          subsidiaries, affiliates, and all of our respective officers, agents,
          partners, and employees, from and against any loss, damage, liability,
          claim, or demand, including reasonable attorneys’ fees and expenses,
          made by any third party due to or arising out of: (1) your
          Contributions; (2) use of the Site; (3) breach of these Terms of Use;
          (4) any breach of your representations and warranties set forth in
          these Terms of Use; (5) your violation of the rights of a third party,
          including but not limited to intellectual property rights; or (6) any
          overt harmful act toward any other user of the Site with whom you
          connected via the Site. Notwithstanding the foregoing, we reserve the
          right, at your expense, to assume the exclusive defense and control of
          any matter for which you are required to indemnify us, and you agree
          to cooperate, at your expense, with our defense of such claims. We
          will use reasonable efforts to notify you of any such claim, action,
          or proceeding which is subject to this indemnification upon becoming
          aware of it.</p><p
          id="19a7ea15-3790-4c03-9fe8-34fe638564ae"
          class=""
        ><strong>20.</strong><strong> </strong><strong>USER DATA</strong></p><p
          id="08e4be6e-92ca-4a23-9a49-15a37a2c7fd9"
          class=""
        >We will maintain certain data that you transmit to the Site for the
          purpose of managing the performance of the Site, as well as data
          relating to your use of the Site. Although we perform regular routine
          backups of data, you are solely responsible for all data that you
          transmit or that relates to any activity you have undertaken using the
          Site. You agree that we shall have no liability to you for any loss or
          corruption of any such data, and you hereby waive any right of action
          against us arising from any such loss or corruption of such data.</p><p
          id="ff510a54-a6be-4444-86e2-f68ea9fb8718"
          class=""
        ><strong>21.</strong><strong> </strong><strong>ELECTRONIC
            COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</strong></p><p
          id="6eae230d-10db-4d26-9158-de2ff0e18c9e"
          class=""
        >Visiting the Site, sending us emails, and completing online forms
          constitute electronic communications. You consent to receive
          electronic communications, and you agree that all agreements, notices,
          disclosures, and other communications we provide to you
          electronically, via email and on the Site, satisfy any legal
          requirement that such communication be in writing. YOU HEREBY AGREE TO
          THE USE OF ELECTRONIC SIGNATURES, CONTRACTS, ORDERS, AND OTHER
          RECORDS, AND TO ELECTRONIC DELIVERY OF NOTICES, POLICIES, AND RECORDS
          OF TRANSACTIONS INITIATED OR COMPLETED BY US OR VIA THE SITE. You
          hereby waive any rights or requirements under any statutes,
          regulations, rules, ordinances, or other laws in any jurisdiction
          which require an original signature or delivery or retention of
          non-electronic records, or to payments or the granting of credits by
          any means other than electronic means.</p><p
          id="fd83a4a8-dd4c-4cb9-beeb-aba71f292a60"
          class=""
        ><strong>22.</strong><strong> </strong><strong>CALIFORNIA USERS AND
            RESIDENTS</strong></p><p
          id="18ae385d-7927-430d-9900-206ef5fa07b6"
          class=""
        >If any complaint with us is not satisfactorily resolved, you can
          contact the Complaint Assistance Unit of the Division of Consumer
          Services of the California Department of Consumer Affairs in writing
          at 1625 North Market Blvd., Suite N 112, Sacramento, California 95834
          or by telephone at (800) 952-5210 or (916) 445-1254.</p><p
          id="0114932e-e24d-4c8b-b390-b74d2f71ab4b"
          class=""
        ><strong>23.</strong><strong> </strong><strong
          >MISCELLANEOUS</strong></p><p
          id="e0cc0162-ce74-49a8-a878-ac914dde5b36"
          class=""
        >These Terms of Use and any policies or operating rules posted by us on
          the Site or in respect to the Site constitute the entire agreement and
          understanding between you and us. Our failure to exercise or enforce
          any right or provision of these Terms of Use shall not operate as a
          waiver of such right or provision. These Terms of Use operate to the
          fullest extent permissible by law. We may assign any or all of our
          rights and obligations to others at any time. We shall not be
          responsible or liable for any loss, damage, delay, or failure to act
          caused by any cause beyond our reasonable control. If any provision or
          part of a provision of these Terms of Use is determined to be
          unlawful, void, or unenforceable, that provision or part of the
          provision is deemed severable from these Terms of Use and does not
          affect the validity and enforceability of any remaining provisions.
          There is no joint venture, partnership, employment or agency
          relationship created between you and us as a result of these Terms of
          Use or use of the Site. You agree that these Terms of Use will not be
          construed against us by virtue of having drafted them. You hereby
          waive any and all defenses you may have based on the electronic form
          of these Terms of Use and the lack of signing by the parties hereto to
          execute these Terms of Use.</p><p
          id="8c813850-f15d-45d5-8e6b-6e4fcd97e993"
          class=""
        ><strong>24.</strong><strong> </strong><strong>CONTACT US</strong></p><p
          id="afaabab8-620b-419c-ad9a-1533b71a628b"
          class=""
        >In order to resolve a complaint regarding the Site or to receive
          further information regarding use of the Site, please contact us at:</p><p
          id="5155c4e1-d338-479e-ab1e-90116d8f600c"
          class=""
        >help@resonateapp.com</p><p
          id="8690c488-a68b-40b9-a09d-069ec352d0b6"
          class=""
        >
        </p></div></article></body></html>
